body {
  background: linear-gradient(to bottom, black, rgb(0, 0, 26), black);
  margin: 0;
  height: 5000px;
  padding-top: 100px;
  font-family: "Inter", sans-serif;
}
.top-header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  background-color: rgba(0, 0, 95, 0.8);
  height: 71px;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
  transition: background-color 0.2s;
  z-index: 100;
}

.top-header:hover {
  background-color: rgb(0, 0, 81);
}

.left-box {
  display: flex;
  gap: 65px;
}

.right-box {
  display: flex;
  gap: 54px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.favorites-container,
.log-in-container {
  display: flex;
  gap: 7px;
  cursor: pointer;
}

.logo-box {
  display: flex;
  width: 200px;
  color: rgb(224, 224, 224);
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.search-box {
  width: 500px;
  height: 35px;
  background: rgba(224, 224, 224, 1);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

.search-box input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-style: italic;
  font-size: 13px;
  padding-left: 10px;
}

.search-icon {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 81, 1);
  border-width: 1.5px;
  cursor: pointer;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  background-color: rgb(211, 211, 211);
  margin-top: 30px;
  margin-left: 85px;
  margin-right: 85px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.3s;
  transition: font-size 0.5s;
  font-size: 20px;
  color: rgb(0, 0, 27);
}

.sponsors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 115px;
  padding: 0 100px;
  width: 100%;
  box-sizing: border-box;
}
.brand-logos,
.store-logos {
  width: 50%;
  overflow: hidden;
}
.trak {
  display: flex;
  gap: 40px;
  animation: scroll-left 20s linear infinite;
  width: max-content;
}
@keyframes scroll-left {
  from {
    transform: translateX(70%);
  }
  to {
    transform: translateX(-100%);
  }
}
.sponsors-container .line {
  width: 1px;
  height: 98px;
  background: white;
}

.banner:hover {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.7);
  font-size: 25px;
}

.category-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  column-gap: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 115px;
  justify-self: center;
}

.category-sign {
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 25px;
}

.img-box {
  margin-bottom: 25px;
  position: relative;
  transition: box-shadow 0.3s;
  cursor: pointer;
  display: grid;
  overflow: hidden;
}

.component-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  transition: transform 0.4s ease;
  display: block;
}

.component-sign {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.95);
  position: absolute;
  inset: auto 0 0 0;
  color: rgb(142, 142, 142);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  transition: height 0.4s, font-size 0.3s;
  box-sizing: border-box;
}

.img-box:hover .component-sign {
  height: 90px;
  font-size: 25px;
  color: white;
}

.img-box:hover img {
  transform: scale(1.05);
}

.popular-box {
  display: grid;
  grid-template-columns: 269px 269px 269px;
  justify-content: center;
  gap: 40px;
  margin-bottom: 200px;
}
.popular-container {
  text-align: center;
  border-color: rgba(100, 100, 100, 1);
  border-style: solid;
  background-color: rgba(0, 0, 40, 0.27);
  border-width: 1px;
  border-radius: 10px;
  padding-bottom: 29px;
  transition: border-color 0.3s, transform 0.3s, background-color 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 430px;
  align-items: center;
}
.card-bottom {
  margin-top: auto;
  text-align: center;
}
.product-image {
  height: 207px;
  padding: 7px 0;
}
.item-name {
  color: rgba(224, 224, 224, 1);
  font-size: 20px;
  font-weight: 500;
  padding: 0 36px;
  margin-bottom: 10px;
}
.popular-container .line {
  justify-self: center;
  background-color: white;
  height: 1px;
  width: 52px;
}
.price-label {
  font-size: 15px;
  color: rgba(217, 217, 217, 1);
  margin-bottom: 20px;
}
.price-label span {
  font-size: 24px;
  font-weight: 500;
}
.view-button {
  font-size: 15px;
  color: white;
  padding: 15px 32px;
  background-color: rgba(0, 0, 81, 1);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4 4 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-button:hover {
  background-color: rgb(0, 0, 135);
}

.popular-container:hover {
  border-color: rgb(211, 211, 211);
  background-color: rgba(0, 0, 82, 0.27);
  transform: translateY(-6px);
}

.about-us-description {
  color: rgba(217, 217, 217, 1);
  font-size: 27px;
  width: 855px;
  text-align: center;
  justify-self: center;
  margin-bottom: 46px;
}

.why-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.why-card h3 {
  margin: 0;
}

.why-card {
  display: flex;
  width: 200px;
  padding: 15px 20px;
  background: #07073b;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.08);
  margin-bottom: 200px;
}

.why-card h3 {
  justify-self: center;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 20px;
  margin-top: 0;
}

.why-card .details {
  align-content: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(11px);
  color: #d2d2d2;
  font-size: 0.88rem;
  padding: 0px 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 0.6s ease;
  box-sizing: border-box;
}

.why-card:hover .details {
  transform: translateY(0);
}

.why-card:hover {
  background-color: rgba(0, 0, 81, 0.1);
}

.news-grid {
  display: grid;
  grid-template-columns: 600px 1px 600px;
  column-gap: 25px;
  justify-self: center;
}
.news-box {
  position: relative;
  height: 310px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.news-box .background {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.95)
  );
  border-radius: 10px;
}

.news-grid .white-line {
  height: 202px;
  background-color: white;
  align-self: center;
}

.news-img {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-radius: 10px;
}

.background .content {
  margin-left: 227px;
  margin-right: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.author-box {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.author-box .logo {
  object-fit: contain;
  height: 10px;
}

.prepared-by {
  color: rgb(107, 107, 107);
  font-size: 11px;
  font-style: italic;
  margin-left: 6px;
  margin-right: 7px;
}

.author-box .white-line {
  height: 17px;
  width: 1px;
  background-color: rgb(107, 107, 107);
}

.news-title {
  font-size: 22px;
  color: rgb(217, 217, 217);
  margin-top: 15px;
  margin-bottom: 8px;
  line-height: 1.3;
}

.read-more-text {
  color: rgb(217, 217, 217);
  font-size: 12px;
  opacity: 0.85;
}

.author-date {
  font-size: 10px;
  color: rgb(107, 107, 107);
  bottom: 15px;
  margin-top: auto;
  margin-bottom: 20px;
  text-align: center;
}

.author-name {
  text-decoration: underline;
  color: rgb(107, 107, 107);
}

@media (max-width: 900px) {
  .category-grid {
    grid-template-columns: 1fr 1fr;
    margin-left: 55px;
    margin-right: 55px;
  }
}
